body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  font: 14pt Courier New;
  margin: auto auto;
  margin-left: 9px;
  color: black;
}

a:hover {
  filter: grayscale(1%);
  color: white;
  border: 3px solid white;
}

#table {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px)
}

.header {
  text-align: center;
  font-family: Courier New;
  font-weight: bold;
  font-size: 45px;
  color: black;
  text-shadow: 2px 2px white;
  text-decoration: underline overline;
}

.text {
  font: 14pt Courier New;
  margin: auto auto;
  margin-left: 9px;
}

.hoverc:hover {
  filter: grayscale(1%);
  border: 3px solid black;
}

img {
  display: table-cell;
  width: 100px;
  height: 100px;
  border: 3px solid white;
  cursor: pointer;
}


button {
  font: 12pt Courier New;
  text-decoration: none;
  border: 2px dotted black;
  margin-top: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #888888;
  font-weight: bold;
}

button:active {
  background-color: #666666;
}

#victory {
  opacity: 0;
}

.overlay {
  display: table-cell;
  width: 400px;
  height: 400px;
  border: 5px solid black;
  cursor: not-allowed;
}